@model OnlineBookStore.Models.Author
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<br />
<h2>Details</h2>
<br />



<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/images/logo.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><b>Author Id : </b>@Html.DisplayFor(model => model.AuthorId)</h5>
                <p class="card-text">  <b> Author Name: </b> @Html.DisplayFor(model => model.AuthorName)</p>
                <p class="card-text"><b> Author Description : </b> @Html.DisplayFor(model => model.AuthorDescription)</p>


            </div>
        </div>
    </div>
</div>

<a asp-action="Index" asp-controller="Author" class="btn btn-primary">Back To List</a>